<style>
    #wtf:hover {
        color: blue;
        text-decoration: underline;
    }
</style>
<li class="list-group-item"><a id="wtf" data-toggle="modal" data-target="#exampleModalCenter"><%=quote.firstName%> <%=quote.lastName%></a> : <%=quote.quote%> </li>


<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>
-->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%=quote.firstName%> <%=quote.lastName%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src='<%=quote.portrait%>' style="width:40px;height:auto">
        <%= quote.biography %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>